// Font Face Mixin
@mixin font-face-mixin($font-name, $font-path, $font-file, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-name}';
      src: url('#{$font-path}/#{$font-file}.eot');
      src: url('#{$font-path}/#{$font-file}?#iefix') format('embedded-opentype'),
           url('#{$font-path}/#{$font-file}.woff') format('woff'),
           url('#{$font-path}/#{$font-file}.ttf') format('truetype'),
           url('#{$font-path}/#{$font-file}.svg##{$font-name}') format('svg');
    font: {
		  weight: $font-weight;
		  style: $font-style;
	  }
  }
}

